<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="employee" class="model.Employee">
        <property name="id" value="EMP01"/>
        <property name="name" value="Tom"/>
        <property name="address" value="Pasar Minggu"/>
    </bean>
</beans>